[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    importlinter
    tests
parallel = true

[report]
show_missing = true
skip_covered = true
precision = 2
omit = *migrations*
exclude_lines =
    pragma: nocover
    raise NotImplementedError
