[importlinter]
root_package = importlinter

[importlinter:contract:1]
name=Layered architecture
type=layers
containers =
    importlinter
layers=
    cli
    api
    contracts
    configuration
    adapters
    application
    domain
exhaustive = true