[importlinter]
root_package = importlinter

[importlinter:contract:layers]
name=Layered architecture
type=layers
containers =
    importlinter
layers=
    cli
    api
    contracts
    configuration
    adapters
    application
    domain
exhaustive = true

[importlinter:contract:acyclic]
name=All packages are acyclic
type=acyclic_siblings
ancestors = importlinter